name: Build and push image to GitHub Container Registry

on:
  release:
    types: [published]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Log in to the Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - name: Generate artifact attestation
        if: github.event.repository.visibility == 'public'
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
      - name: Push tag to ArgoCD
        env:
          ARGOCD_PAT: ${{ secrets.ARGOCD_PAT }}
          NEW_IMAGE_TAG: ${{ github.ref_name }}
          ARGOCD_USER: ${{ vars.ARGOCD_USER }}
          ARGOCD_OWNER: ${{ vars.ARGOCD_OWNER }}
          ARGOCD_REPO: ${{ vars.ARGOCD_REPO }}
          IMAGE_NAME: ${{ vars.IMAGE_NAME }}
          TARGET_MANIFEST: ${{ vars.TARGET_MANIFEST }}
        run: |
          if [ -z "$ARGOCD_PAT" ]; then
            echo "ARGOCD_PAT secret not set; skipping step."
            exit 0
          fi
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git clone https://${ARGOCD_USER}:${ARGOCD_PAT}@github.com/${ARGOCD_OWNER}/${ARGOCD_REPO}.git
          cd ${ARGOCD_REPO}
          # Update the image for the target container in the manifest file
          sed -i "s|\(image:\s*${IMAGE_NAME}:\).*|\1${NEW_IMAGE_TAG}|" ${TARGET_MANIFEST}
          git add ${TARGET_MANIFEST}
          git commit -m "Update image tag to ${NEW_IMAGE_TAG} via release automation"
          git push origin main
